/* Reset default styles */
* {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px auto;
    line-height: 1.8;
}

#vis {
    width: 960px;
    height: 600px;
    position: relative;
    margin: 0 auto;
  }

  #tooltip {
    position: absolute;
    pointer-events: none;
    display: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
}


/* Container styling for layout */
.container {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

#vis svg {
    margin: 2rem 0;
    border: 1px solid #ccc; /*otherwise you can't see this part*/
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis text,
.y-axis text {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
}

button {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: pink;
    color: black;
    border-radius: 4px;
    border-color:deeppink;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

p, h1 {
   text-align: center; 
}

#dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin: 20px auto; 
    width: fit-content;
}